* { box-sizing: border-box }

.href { color: var(--link); font-weight: bold; text-decoration: underline .125em }
.href:hover { cursor: pointer }

.bg-g { background: var(--bg-g) }
.bg-n { background: var(--bg-n) }
.bg-1 { background: var(--bg-1) }
.bd-1 { border: .125em solid var(--bd-1) }
.bd-2 { border: .125em solid var(--bd-2) }

.rainbow { background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent }

a { cursor: pointer; text-decoration: none }
body { background: var(--bg-g); position: relative }

button, input, textarea { padding: .25em; outline: none; background: var(--bg-1); border-radius: .25em; transition: .3s; border: none; outline: none }
button { user-select: none }
button:hover { filter: brightness(110%); cursor: pointer }
button:active { filter: brightness(120%) }
input:-webkit-autofill { border-color: var(--bd-2); -webkit-text-fill-color: var(--color); box-shadow: 0 0 0 100vh inset var(--bg-2) }

button.ok, button.cancel { padding: .25em 1em }
button.ok { background-color: var(--bg-b-1); border: .05em solid var(--bg-b-1) }
button.cancel { border: .05em solid var(--bd-1) }

@keyframes rotating {
    from { -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg) }
    to { -ms-transform: rotate(-360deg); -moz-transform: rotate(-360deg); -webkit-transform: rotate(-360deg); -o-transform: rotate(-360deg); transform: rotate(-360deg) }
}

/*  MISC   */
#down { display: none; background: var(--bg-g); flex-direction: column; z-index: 999; justify-content: center; align-items: center }
#down span { width: 75%; margin-bottom: 1em; font-size: 1.5em; text-align: center }
#down svg { width: min(70%, 20em); opacity: .05 }

@keyframes loading-bar { 0% { margin-left: -4em } 100% { margin-left: 100% } }
#progress-bar, #loading-bar { opacity: .5; background: var(--color); position: absolute; top: 0; left: 0; z-index: 99; transition: height .3s }
#progress-bar { height: 0 }
#loading-bar { display: none; width: 4em; height: 2px; animation: loading-bar .8s ease-in-out infinite alternate }

#disable-mouse { display: none; z-index: 99; cursor: wait }

#alerts { display: block; z-index: 99; width: fit-content; height: fit-content; place-self: end }
#alerts ul { max-width: calc(100vw - 6em); max-height: 80vh; padding: 0; overflow: hidden auto; word-break: break-word }
#alerts  ul::-webkit-scrollbar { width: 0 }
#alerts  li { display: flex; width: fit-content; padding: .5em .5em .75em; margin: .5em 1em 0 auto; background: var(--bg-a-d); position: relative; flex-direction: row-reverse; list-style: none; border-radius: .25em; font-size: 1em; max-width: 75vw; overflow: hidden; transform: translateX(3em); opacity: 0; transition: transform .3s, opacity .3s; word-break: break-word }
#alerts  li:first-of-type { display: none }
#alerts   svg { display: flex; width: 1em; margin-left: .25em; flex-shrink: 0; align-self: start }
#alerts   div { width: 0; height: .25em; position: absolute; left: 0; bottom: 0; background: var(--color); transition: 2s linear }

#image-crop { display: none; background: var(--bg-1a); z-index: 21; place-items: center; transform: scale(.8); opacity: 0; transition: .3s; outline: max(100vw, 100vh) solid var(--bg-1a) }
#image-crop * { grid-area: 1 / 1 / 2 / 2 }
#image-crop .range{ width: min(60%, 20em); height: 1.25em; margin-bottom: 1.25em; padding: 0; z-index: 4; -webkit-appearance: none; border-radius: 1em; outline: .05em solid var(--bg-b-2); align-self: end }
#image-crop  .range::-webkit-slider-thumb { width: 1.25em; height: 1.25em; margin: 0; -webkit-appearance: none; border-radius: 50%; background: var(--bg-b-2); cursor: pointer; outline: .75em solid var(--bg-b-2); outline-offset: -.5em }
#image-crop .buttons { margin-top: 1.25em; z-index: 4; font-size: 1.25em; align-self: start }
#image-crop .main { display: grid; width: 80%; height: 80%; position: relative; place-items: center; border-radius: 1em; user-select: none; overflow: hidden; outline: max(100vw, 100vh) solid var(--bg-1a) }
#image-crop  .frame { border: .125em solid var(--bd-2); border-radius: .5em; outline: max(100vw, 100vh) solid var(--bg-1a); z-index: 3 }
#image-crop  .img { position: absolute; transform: translate(-50%, -50%); border-radius: .5em }

#compose-button { width: 4em; height: 4em; margin: 0 0 1em 1em; padding: 1em; bottom: 0; left: 0; position: absolute; border-radius: 50%; background: var(--bg-b-1); z-index: 40 }
#compose { display: none; background: var(--bg-1a); z-index: 41; transform: scale(.8); place-items: center; opacity: 0; transition: .3s; outline: max(100vw, 100vh) solid var(--bg-1a) }
#compose > div { display: flex; width: min(85%, 600px); height: min(85%, 400px); padding: 1em; flex-direction: column; background: var(--bg-1); border-radius: .5em }
#compose  textarea { flex-grow: 1; resize: none; background-color: var(--bg-2); border-radius: .5em }
#compose  .buttons { display: flex; justify-content: space-between }
#compose   .upload { height: calc(100% - .5em); margin-top: .5em; padding: .25em 1em; background-color: var(--bg-b-1) }
#compose   .upload svg { height: 100% }
#compose   span button { margin: .5em 0 0 .5em; padding: .25em 1em }
#compose   span button.send { background-color: var(--bg-b-1) }
#compose .image { display: none; width: min-content; margin-top: .5em; position: relative }
#compose .image img { height: 6em; border-radius: .5em }
#compose .image button { width: 1.5em; height: 1.5em; padding: .25em; right: 0; position: absolute; border-radius: 100%; background-color: red; transform: translate(50%, -50%) }
#compose .image  svg { width: 1em; height: 1em }

#refresh { display: flex; height: 0; position: absolute; top: 0; z-index: 101; justify-content: center }
#refresh svg { width: 2em; padding: .25em; top: -2em; position: absolute; background: var(--bg-b-1); border-radius: 50% }

#message-box { display: none; place-items: center; z-index: 50; transform: scale(.8); opacity: 0; transition: .3s }
#message-box > div { max-width: 75%; padding: 1em 2em; background-color: var(--bg-1); outline: 200vmax solid var(--bg-1a); border-radius: .5em }
#message-box .title { font-size: 1.5em; word-break: break-word }
#message-box .content { margin: 1em 0; word-break: break-word }
#message-box .buttons { display: flex; gap: .5em; flex-wrap: wrap; flex-direction: row-reverse }
#message-box button { font-size: 1.25em }

/*  APP   */
main { display: flex; flex-direction: column }

nav, nav * { color: var(--color-n) }
nav { background: var(--bg-n); user-select: none; box-shadow: var(--shadow-1); z-index: 20 }
nav > div { display: flex; padding: .3125em; margin: 0 auto; max-width: 1200px; justify-content: space-between; align-items: center }
nav  .n-name { font-size: 2em; margin-left: .3125em }
nav  .n-buttons { display: flex; align-items: center; gap: .5em }
nav  .n-buttons a { display: inline-flex; padding: .6em; position: relative; align-items: center; align-content: center; font-size: 1.25em; background: var(--bg-n); transition: .3s; border-radius: .25em }
nav  .n-buttons  a:hover { filter: brightness(110%) } nav  .n-buttons  a:active { filter: brightness(120%) }
nav  .n-buttons a svg, nav .n-buttons a img { width: 1em; height: 1em; margin-top: .125em }
nav  .n-buttons > a span { display: none }
nav  .n-buttons div { display: flex; gap: .5em }
nav  .n-buttons div a img { border-radius: 50% }
nav  .n-buttons  div:first-of-type a span:first-of-type { margin-left: .25em }
nav  .n-buttons .notification-count { display: none; margin: 0 !important; padding: .1em .3em; top: 0; right: 0; transform: translate(-.3em, .5em); position: absolute; font-size: .5em; border-radius: 1em; background-color: var(--bg-b-1) }

.page-outer { height: 100%; overflow: hidden auto }
.page-outer::-webkit-scrollbar-thumb { background-color: var(--bg-1) }
.page { max-width: 1200px; padding: 2em 1em; margin: auto }
@supports (overflow: overlay) { .page-outer { overflow-y: overlay } }

@media screen and (max-width: 775px) {
    nav > div { flex-direction: column }
    nav  .n-name { font-size: 1.8em; margin: 0 }
    nav  .n-buttons a { padding: .3em; font-size: 1.2em }
    nav  .n-buttons { width: 100%; justify-content: space-around }
}
@media screen and (max-width: 480px) {
    nav  .n-buttons .username { display: none }
}
@media screen and (min-width: 600px) {
    nav  .n-buttons > a span { display: block }
    nav  .n-buttons > a svg { display: none }
}

::-webkit-scrollbar { width: 16px }
::-webkit-scrollbar-thumb { background-color: var(--bg-2); border-radius: 8px; border: 4px solid transparent; background-clip: padding-box }


/*  GLOBAL CLASSES  */
._inline-img { display: inline-flex; align-items: center }
._inline-img img, ._inline-img svg { height: 1em }
._load-more { width: 100%; background: var(--bg-b-1); font-size: 1.25em }

._p-c { display: flex; width: 100%; min-width: 0; padding: 1.5em; flex-direction: column; align-items: center; justify-content: center }
._p-c li { display: flex; width: min(600px, 100%); margin-top: 1em; padding: 1.5em 2.5em; border: .05em solid var(--bd-1); border-radius: 1em }
._p-c  li:first-of-type { margin: 0 }
._p-c > * > div { flex-grow: 1; position: relative }
._p-c  div { flex-basis: 100% }
._p-c  .avatar { width: 2.75em; height: 2.75em; margin-right: .5em; border-radius: 50%; cursor: pointer }
._p-c   .avatar:hover,
._p-c   .username:hover { cursor: pointer }
._p-c  .date { opacity: .5; font-size: .8em }
._p-c  .content { max-height: 500px; overflow: hidden auto; margin: 0 0 .25em; word-break: break-word; transition: height .3s }
._p-c  .content::-webkit-scrollbar { width: .25em }
._p-c  .content::-webkit-scrollbar-thumb { background: var(--bg-1) }
._p-c  .edit { width: 100%; height: 0; overflow: hidden }
._p-c  .edit textarea { width: 100%; resize: none }
._p-c   .edit-buttons { display: flex; margin-bottom: .25em; justify-content: right; gap: .25em .5em; flex-wrap: wrap }
@media screen and (max-width: 600px) { ._p-c li { padding: 1.5em 1.5em } }
._p-c  .buttons { display: flex; align-items: center; justify-content: space-between }
._p-c  .buttons svg { stroke: inherit; height: 1em; width: 1em }
._p-c  .buttons a { height: 1.25em; opacity: .5; display: inline-flex; align-items: center; transition: .3s; stroke: var(--color); user-select: none }
._p-c  .buttons  a:hover { transform: scale(1.05); opacity: .75; cursor: pointer }
._p-c  .buttons  a:active { transform: scale(1.1); opacity: 1 }
._p-c  .buttons  .comment:hover { color: #1B8BD7; stroke: #1B8BD7 }
._p-c  .buttons  .like:hover { color: #F91880; stroke: #F91880 }
._p-c  .buttons  .like .count { color: inherit }
._p-c  .buttons  .share:hover { stroke: #75bbf5 }
._p-c  .buttons  .dots:hover { stroke: #00BA7C }
._p-c  .buttons  .reply:hover { stroke: var(--bg-b-1) }
._p-c textarea { min-height: 4em; background: inherit; border: .05em solid var(--bd-1); border-width: .05em 0; resize: none }

._posts .attachment, ._posts .margin { max-width: calc(100% - 1em); margin: .5em; border-radius: .5em }

._comments .a-c-r { display: grid; margin-top: 1em; grid-template: 1fr auto / auto 1fr }
._comments .a-c-r img { height: 3em; width: 3em; margin: .5em; border-radius: 50% }
._comments .a-c-r textarea { padding: .5em; flex-basis: 100% }
._comments .a-c-r .buttons-2 { display: flex; margin-top: .25em; grid-column: 2 / auto; transition: .3s; height: 0; overflow: hidden; gap: .25em .5em; flex-wrap: wrap }
._comments .a-c-r svg { width: 1em; height: 1em; margin-left: .25em }
._comments { width: min(600px, 100%); margin: 0 auto }
._comments .top h2 { font-weight: normal; font-size: 1em; margin-top: 1em }
._comments > div { width: 100% }
._comments  .comment { display: flex; width: 100%; margin: 1em 0 0; padding: 1.5em 2.5em; border: .125px solid var(--bd-1); border-radius: 1em }
._comments  .comment  .content { max-height: 250px }
._comments  .comment  .buttons { justify-content: flex-end; gap: 2em }
._comments  .add-reply { min-width: 300px; height: 0; margin: 0; padding-left: 2em; transition: .3s; overflow: hidden }
._comments  .add-reply .buttons-2 { height: unset !important }
._comments  .replies { padding-left: 2em }
._comments  .replies .load-more { margin-top: 1em; min-width: 300px }
._comments  .replies .comment { min-width: 300px }
._comments > div > .replies { overflow-x: auto !important }
._comments > div > .replies::-webkit-scrollbar { height: 0 }
._comments > button { margin-top: 1em }

._popup-menu { width: 0; height: 0; padding: .75em 0; position: absolute; background-color: var(--bg-1); transition: width .3s; overflow: hidden; border-radius: .5em; transform: translateX(-100%) }
._popup-menu button { display: flex; width: 100%; padding: .5em 1.5em; justify-content: flex-start; white-space: nowrap }
._popup-menu button svg { min-height: 1em; padding-right: .5em }

._users { display: grid; padding: 1em; grid-template-columns: 1fr; gap: 1em }
._users li { display: flex; padding: .5em; position: relative; outline: .05em solid var(--bd-1); border-radius: .5em; font-size: 1.25em; align-items: center; overflow: hidden }
._users  li:before { content: ''; display: block; width: 100%; height: 100%; inset: 0; position: absolute; z-index: -1; background: no-repeat center center; background-size: cover; opacity: .25 }
._users  li:hover { cursor: pointer }
._users img { width: 2em; height: 2em; margin-right: .5em; border-radius: 50% }