:root {
    --color: #101010;
    --color-n: #EDEDED;
    --bg-g: #e3e3e3;
    --bg-n: #9e2acd;
    --bg-a-d: #2c4889;
    --bg-a-s: #009b20;
    --bg-a-e: #bd0808;
    --bg-b-1: #c622ff;
    --bg-b-2: #8a31ad;
    --bg-b-f: #009b20;
    --bg-b-uf: #b00721;
    --bg-1: #ffffff;
    --bg-1a: #10101080;
    --bd-1: #5a5a5a80;
    --bg-2: #ffffff;
    --bd-2: #686868;
    --link: #c22aff;
    --shadow-1: #0008 0 0 .125em;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color: #EDEDED;
        --color-n: #EDEDED;
        --bg-g: #121212; /* body */
        --bg-n: #1F1F1F; /* nav */

        --bg-a-d: #2c4889; /* alert-default */
        --bg-a-s: #009b20; /* alert-success */
        --bg-a-e: #bd0808; /* alert-error */

        --bg-b-1: #820cb1; /* button */
        --bg-b-2: #8a31ad; /* button */
        --bg-b-f: #009b20; /* button-follow */
        --bg-b-uf: #b00721; /* button-unfollow */

        --bg-1: #1F1F1F;
        --bg-1a: #10101080;
        --bd-1: #5a5a5a80;
        --bg-2: #121212;
        --bd-2: #313131;
        --link: #820cb1;
        --shadow-1: #0008 0 0 .125em
    }
}

